{% extends 'layout.html' %}

{% block title_block %}
Журнал сменного инженера
{% endblock%}

{% block body_block %}
<div>
<h2>Журнал сменного инженера</h2>
Станция: {{cur_site}}
</div>
{# блок навигации #}
<div style="float: left; width: 200px; background-color: #BBBBBB;">
Навигация
{% for site in sites.all %}
  <div>
    <a href="/{{site.name}}/">{{site.printout}}</a>
  </div>
{% endfor %}
</div>

{# блок рабочих записей #}
<div style="margin-left: 225px; background-color: #CCCCCC;">
Все логи
{% if page.number == 1 %}
  <form method="post" action="/add_record/">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Сохранить запись </button>
    </div>
  </form>
{% endif %}

<div>{{debug}}</div>
{% for record in records.all %}
  <div style="border-width: 1px; border-color: #EEE; border-style: solid;">
    text: {{record.text}} <br />
    author: {{record.person}}<br />
    <br />

  </div>
{% endfor %}
<nav>
{% for p in paginator.page_range %}
  {% if p == page.number %}
    ({{p}})
    {% else %}
    <a href="{{ paginator.baseurl }}{{ p }}">{{p}}</a>
    {% endif %}
{% endfor %}
</nav>
</div>

{% endblock%}
