.nav-sidebar > .active > a {
    background-color: #428bca;
    color: #fff;
}

.nav-sidebar > .inactive > a {
    background-color: #b2bbca;
    color: #fff;
}

.nav-sidebar > li:hover >a:hover {
    background-color: #99a;
}

.saved_text {
    min-width: 100%;
}

.text_for_save > textarea {
    min-width: 100%;
    rows: 5;
}
